<div class="d-flex">
  <!-- Sidebar / Menu lateral -->
  <nav class="sidebar">
    <h2>Menu</h2>
    <ul class="nav flex-column">

      <!-- Home -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <!-- Usuário -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuario">Usuário</a>
      </li>

      <!-- Estoque -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/estoque">Estoque</a>
      </li>

      <!-- Financeiro Expansível -->
      <li class="nav-item">
        <a
          class="nav-link"
          href="#!"
          data-bs-toggle="collapse"
          data-bs-target="#financeiroMenu"
          aria-expanded="false"
        >
          Financeiro
        </a>
        <ul id="financeiroMenu" class="collapse list-unstyled">
          <li>
            <a class="nav-link" routerLink="/financeiro/recebimentos">
              <i class="bi bi-cash-stack me-2"></i> Recebimentos
            </a>
          </li>
        </ul>
      </li>
      
      <!-- Clientes -->
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes" routerLinkActive="active">
           Clientes
        </a>
      </li>

      <!-- Fornecedores -->

      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/fornecedor">Fornecedores</a>
      </li>

      <!-- Vendas -->

      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/vendas">Vendas</a>
      </li>


    </ul>
  </nav>

  <!-- Conteúdo Principal -->
  <div class="content p-4 w-100">
    <router-outlet></router-outlet>
  </div>
</div>
