<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px; height: 100vh;">
  <h4 class="text-center">Menu</h4>
  <hr />
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/estoque">
        <i class="bi bi-box"></i> Controle de Estoque
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/vendas">
        <i class="bi bi-cart"></i> Vendas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clientes">
        <i class="bi bi-person"></i> Clientes
      </a>
    </li>
  </ul>
</div>
